<%= month_calendar events: @finalMeetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div class = "calendarElement">
      <%= link_to meeting.name%><br></br>
    </div>
  <% end %>
<% end %>
<!-- , edit_meeting_path(meeting)  -->