<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div class = "calendarElement">
      <%= link_to meeting.name, edit_meeting_path(meeting) %><br></br>
    </div>
  <% end %>
<% end %>